.logo {
	position: fixed;
	top: 192px;
	left: 633px;
}

.searchbar {
	position: fixed;
	left: 650px;
	top: 318px;
	width: 800px;
}

.searchbutton {
	position: fixed;
	left: 638px;
	top: 360px;
}

.imfeelinglucky {
	position: fixed;
	top: 360px;
	left: 770px;
}